# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtualenvs
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

*.log
*_bsweight.json

blendshape_output/*
.pytest_cache/

.lock*